.contact{
    position: relative;
    min-height: 80vh;
    padding: 50px 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    -webkit-box-shadow: -1px 6px 33px -1px rgba(77,76,77,0.77);
    -moz-box-shadow: -1px 6px 33px -1px rgba(77,76,77,0.77);
    box-shadow: -1px 6px 33px -1px rgba(77,76,77,0.77);
}


.contact .content-form{
    max-width: 800px;
    text-align: center;
}

.contact .content-form h2{
    font-size:  32px;
    font-weight: 500;
    color: #fff;
    margin-bottom: 8px;
}

.contact .content-form p{
    font-weight: 300;
    color: #040405;
}

.container-form{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.container-form .contactInfo{
    width: 50%;
    display: flex;
    flex-direction: column;
}

.container-form .contactInfo .box{
    position: relative;
    padding: 20px 0;
    display: flex;
}

.container-form .contactInfo .box .icon{
    min-width: 60px;
    height: 60px;
    background: #3303ae;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 22px;
}

.icon{
    color: #fff;
}

.container-form .contactInfo .box .text{
    display: flex;
    margin-left: 20px;
    font-size: 16px;
    color: #080616;
    flex-direction: column;
    font-weight: 400;
}

.container-form .contactInfo .box .text h3{
    font-weight: 500;
    color: #030404;
}

.contactForm{
    width: 40%;
    padding: 40px;
    background: #fff;
    border-radius: 20px;
    -webkit-box-shadow: -1px 6px 19px -7px rgb(4, 17, 31);
    -moz-box-shadow: -1px 6px 19px -7px rgb(12, 19, 26);
    box-shadow: -1px 6px 19px -7px rgb(2, 3, 4);
}

.contactForm h2{
    font-size: 30px;
    color: #333;
    font-weight: 500;
}

.contactForm .inputBox{
    position: relative;
    width: 100%;
    margin-top: 10px;
}

.contactForm .inputBox input,
.contactForm .inputBox textarea{
    width: 100%;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    border: none;
    border-bottom: 1px solid #00354b;
    outline: none;
    resize: none;
}

.contactForm .inputBox span{
    position: absolute;
    left: 0;
    padding: 5px 0;
    font-size: 16px;
    margin: 10px 0;
    pointer-events: none;
    transition: 0.5s;
    color: #666;
}

.contactForm .inputBox input:focus ~ span,
.contactForm .inputBox input:valid ~ span,
.contactForm .inputBox textarea:focus ~ span,
.contactForm .inputBox textarea:valid ~ span{
    color: #e91e63;
    font-size: 12px;
    transform: translateY(-30px);
}

.contactForm .inputBox input[type="submit"]{
    width: 100px;
    background: #2e07a4;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    font-size: 17px;
    border-radius: 8px;
}


@media only screen and (max-width: 870px){
    .contact{
        padding: 50px;
    }

    .container-form{
        flex-direction: column;
    }

    .container-form .contactInfo, .contactForm{
        margin-bottom: 40px;
        width: 100%;
    }


}

@media only screen and (max-width: 768px){
    .contactForm h2{
        font-size: 23px;
    }
    .contactForm .inputBox input[type="submit"]{
        font-size: 16px;
    }
}